<footer class="colophon">
  <div class="about" id="about">
    <p><strong>SDGs in the City</strong></p>
    <p>{{ site.description }}</p>

    {{ site.author_description | markdown | safe }}
  </div>
  <div id="contact" class="contact">
    <p><strong>Contact Us:</strong></p>
    <ul class="contact-links">
      <li>Email: <a href="mailto:info@unsdsn.org">info@unsdsn.org</a></li>
      <li>Twitter: <a href="https://twitter.com/SDGsNYC" title="Follow SDGs in the City on Twitter">@SDGsNYC</a></li>
      <li>Facebook: <a href=" https://www.facebook.com/SDGs-in-my-City-NYC-805461273144024/?view_public_for=805461273144024
" title="Follow SDGs in the City on Facebook">SDGs in the City</a></li>
    </ul>
  </div>
</footer>
