<div class="goal bg-goal-{{ goal.data.number}}">
  <header class="goal-header">
    <img src="{{ goal.data.icon }}" alt="{{ goal.data.title }}">
    <h3 class="goal-title">
      <span>{{ goal.data.number }}</span>
      {{ goal.data.title }}
    </h3>
    <h4 class="goal-tagline">{{ goal.data.tagline }}</h4>
    <p class="goal-excerpt">{{ goal.data.excerpt }}</p>
  </header>
  <div class="goal-actions">
    {{ goal.data.actions | markdown | safe }}
  </div>
</div>
