<header class="masthead" role="banner">
  <a href="#main" class="skip-link">Skip to content</a>
  <div class="logo">
    <h1 class="screen-reader-text">{{ site.title }}</h1>
    <img src="/static/uploads/sdg-cities-logo.svg" alt="SDGs in the City">
  </div>
  <nav role="navigation" id="main-navigation">
    <ul class="nav">
      <li>
        <a href="#projects">Projects</a>
      </li>
      <li>
        <a href="#goals">Take Action</a>
      </li>
      <li>
        <a href="#about">About Us</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
