/* Goal Colors */

/* goal 1 */
.bg-goal-1 {
  background-color: #e5253b;
}
.color-goal-1 {
  color: #e5253b;
}
.color-goal-1-dark {
  color: #750020;
}
/* goal 2 */
.bg-goal-2 {
  background: #dda63a;
}
/* goal 3 */
.bg-goal-3 {
  background: #4c9f38;
}
/* goal 4 */
.bg-goal-4 {
  background: #c5192d;
}
/* goal 5 */
.bg-goal-5 {
  background: #ff3a21;
}
/* goal 6 */
.bg-goal-6 {
  background: #26bde2;
}
/* goal 7 */
.bg-goal-7 {
  background: #fcc30b;
}
/* goal 8 */
.bg-goal-8 {
  background: #a21942;
}
/* goal 9 */
.bg-goal-9 {
  background: #fd6925;
}
/* goal 10 */
.bg-goal-10 {
  background: #dd1367;
}
/* goal 11 */
.bg-goal-11 {
  background: #fd9d24;
}
/* goal 12 */
.bg-goal-12 {
  background: #bf8b2e;
}
/* goal 13 */
.bg-goal-13 {
  background: #3f7e44;
}
/* goal 14 */
.bg-goal-14 {
  background: #0a97d9;
}
/* goal 15 */
.bg-goal-15 {
  background: #56c02b;
}
/* goal 16 */
.bg-goal-16 {
  background: #00689d;
}
/* goal 17 */
.bg-goal-17 {
  background: #19486a;
}

/* Goal Layout */
.goal {
  display: flex;
  flex-flow: column wrap;
  min-height: 30vh;
  width: 100%;
  padding: 2rem;
}
.goal-header {
  display: flex;
  flex-flow: row wrap;
}
.goal-title {
  color: #fff;
  font-size: 3rem;
}
.goal-tagline {
  color: #fff;
}

/* Icons */
