/* Goal Colors */

/* goal 1 */
.goal-1.goal,
.goal-1.goal-nav-item {
  background-color: #e5253b;
}
.goal-1 a,
.goal-1 .goal-number,
.goal-1 .goal-tagline {
  color: #750020
}
/* goal 2 */
.goal-2.goal,
.goal-2.goal-nav-item {
  background: #dda63a;
}
.goal-2 a,
.goal-2 .goal-number,
.goal-2 .goal-tagline {
  color: #774804;
}
/* goal 3 */
.goal-3.goal,
.goal-3.goal-nav-item {
  background: #4c9f38;
}
.goal-3 a,
.goal-3 .goal-number,
.goal-3 .goal-tagline {
  color: #0d3b06;
}
/* goal 4 */
.goal-4.goal,
.goal-4.goal-nav-item {
  background: #c5192d;
}
.goal-4 a,
.goal-4 .goal-number,
.goal-4 .goal-tagline {
  color: #5b0104;
}
/* goal 5 */
.goal-5.goal,
.goal-5.goal-nav-item {
  background: #ff3a21;
}
.goal-5 a,
.goal-5 .goal-number,
.goal-5 .goal-tagline {
  color: #800501;
}
/* goal 6 */
.goal-6.goal,
.goal-6.goal-nav-item {
  background: #26bde2;
}
.goal-6 a,
.goal-6 .goal-number,
.goal-6 .goal-tagline {
  color: #015379;
}
/* goal 7 */
.goal-7.goal,
.goal-7.goal-nav-item {
  background: #fcc30b;
}
.goal-7 a,
.goal-7 .goal-number,
.goal-7 .goal-tagline {
  color: #b98e05;
}
/* goal 8 */
.goal-8.goal,
.goal-8.goal-nav-item {
  background: #a21942;
}
.goal-8 a,
.goal-8 .goal-number,
.goal-8 .goal-tagline {
  color: #40002a;
}
/* goal 9 */
.goal-9.goal,
.goal-9.goal-nav-item {
  background: #fd6925;
}
.goal-9 a,
.goal-9 .goal-number,
.goal-9 .goal-tagline {
  color: #872600;
}
/* goal 10 */
.goal-10.goal,
.goal-10.goal-nav-item {
  background: #dd1367;
}
.goal-10 a,
.goal-10 .goal-number,
.goal-10 .goal-tagline {
  color: #6e0035;
}
/* goal 11 */
.goal-11.goal,
.goal-11.goal-nav-item {
  background: #fd9d24;
}
.goal-11 a,
.goal-11 .goal-number,
.goal-11 .goal-tagline {
  color: #944009;
}
/* goal 12 */
.goal-12.goal,
.goal-12.goal-nav-item {
  background: #bf8b2e;
}
.goal-12 a,
.goal-12 .goal-number,
.goal-12 .goal-tagline {
  color: #5b3203;
}
/* goal 13 */
.goal-13.goal,
.goal-13.goal-nav-item {
  background: #3f7e44;
}
.goal-13 a,
.goal-13 .goal-number,
.goal-13 .goal-tagline {
  color: #00301f;
}
/* goal 14 */
.goal-14.goal,
.goal-14.goal-nav-item {
  background: #0a97d9;
}
.goal-14 a,
.goal-14 .goal-number,
.goal-14 .goal-tagline {
  color: #003570;
}
/* goal 15 */
.goal-15.goal,
.goal-15.goal-nav-item {
  background: #56c02b;
}
.goal-15 a,
.goal-15 .goal-number,
.goal-15 .goal-tagline {
  color: #105702;
}
/* goal 16 */
.goal-16.goal,
.goal-16.goal-nav-item {
  background: #00689d;
}
.goal-16 a,
.goal-16 .goal-number,
.goal-16 .goal-tagline {
  color: #001b3c;
}
/* goal 17 */
.goal-17.goal,
.goal-17.goal-nav-item {
  background: #19486a;
}
.goal-17 a,
.goal-17 .goal-number,
.goal-17 .goal-tagline {
  color: #00132e;
}

/* Goal Navigation */
.goal-navigation {
  list-style: none;
  margin: 6rem 1.25rem;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 5px 10px 0 rgba(198,225,255,.65);
}
.goal-navigation li {
  flex: 33%;
  transition: all ease-in-out .25s;
}
.goal-navigation li:hover,
.goal-navigation li:focus {
  transform: scale(1.05);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.25);
}
.goal-navigation li.no-hover {
  transform: none;
  box-shadow: none;
}
.sdg-logo {
  max-width: 80%;
  margin: 1rem auto;
}
.goal-nav-link {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}
.goal-link-title {
  flex: 80%;
  padding: .5rem;
}
.goal-nav-link img {
  max-width: 20%;
}
.goal-nav-link {
  color: #fff !important;
  font-weight: 700;
}
/* Goal Layout */
.goal {
  display: flex;
  flex-flow: column nowrap;
  min-height: 30vh;
  width: 100%;
  padding: 2rem;
}
.goal-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  max-width: 900px;
}
.goal-icon {
  flex: 25%;
  text-align: center
}
.goal-icon img {
  max-width: 250px;
}
.goal-title {
  flex: 75%;
}
.goal-title h3 {
  color: #fff;
  font-size: 3rem;
  margin: 0;
}
.goal-tagline {
  font-weight: 700;
  margin-top: .5rem;
}
.goal-excerpt {
  color: #fff;
  max-width: 900px;
}
.goal-actions {
  color: #fff;
  margin: 2rem 0;
  border-top: 4px solid #fff;
  max-width: 900px;
}
.goal-actions h4 {
  text-transform: uppercase;
}
.goal-actions ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.goal-actions ul li {
  margin-bottom: 15px;
  width: calc(1/3*100% - (1 - 1/3)*20px);
  flex-grow: 0;
  padding: 1rem 1.5rem;
  border: 4px solid rgba(255,255,255,1);
  transition: all ease-in-out .25s
}
.goal-actions ul li:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.25);
}

@media only screen and (max-width: 776.25px) {
  .goal-navigation li {
    flex: 100%;
  }
  .goal-header {
    flex-direction: row-reverse;
    margin-bottom: 2rem;
    align-items: flex-start;
  }
  .goal-title {
    flex: 60%;
  }
  .goal-title h3 {
    font-size: 1.75rem;
  }
  .goal-icon {
    flex: 40%;
  }
  .goal-icon img {
    max-width: 100%;
  }
  .goal-actions ul li {
    flex: 100%;
  }
}
